

*{margin: 0%;*{margin: 0%;
    padding: 0%;}
    
    
    body{
    font-family: "Poppins", sans-serif;
    }
    
    .cabeçalho{
    background-color: pink;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0; }
    
    .cabeçalho-imagem
    {width: 20%;}
    
    .cabeçalho-lista-item{
    display: inline-block;
    margin: 0% 16px;
    font-size: 24px; }
    
    .musica-imagem{
    width: 25%;
    }
    
    .musica{
    background-color: pink;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    }
    .musica-div-conteudo{
    width: 35%;
    
    }
    .musica-titulo{
    padding: 24px 0;
    }
    
    